#range-slider-container {
    text-align: center;
}

.range-slider-handle {
    background-color: rgb(256, 256, 256);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
    margin-left: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.range-slider-background-bar {
    background-color: rgb(238, 238, 238);
    height: 4px;
    width: 100%;
}

.range-slider-bar-highlight {
    background-color: rgb(92, 144, 209);
    height: 4px;
}

.range-slider-value {
    position: absolute;
    top: 0px;
    background-color: rgb(92, 144, 209);
    color: rgb(256, 256, 256);
    padding: 1px 5px;
    border-radius: 3px;
    transform: translateX(-50%);
    line-height: 1.3em;
    font-size: 13px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.range-slider-axis {
    position: absolute;
    bottom: 14px;
    left: 0px;
    height: 8px;
    width: 100%;
}

.range-slider-axis-label {
    position: absolute;
    bottom: 0px;
    font-size: 9px;
    transform: translateX(-50%);
    color: rgb(153, 153, 153);
}

.range-slider-tick {
    position: absolute;
    background-color: rgb(153, 153, 153);
    width: 1px;
}

.range-slider-major-tick {
    height: 8px;
}

.range-slider-minor-tick {
    height: 4px;
    margin-bottom: 4px;
}